name: Build and Release Electron React Calculator App

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:
    branches: [master]
    types: [closed]
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    environment: app
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '21'

      - name: Install dependencies
        run: |
          npm install --legacy-peer-deps
          npm run build

      - name: Run Tests, Typescript Checks and Linters
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm exec tsc
          npm run test

      - name: Build Electron App
        run: |
          npm exec electron-builder -- --publish never --win
        env:
          NODE_OPTIONS: ${{ vars.NODE_OPTIONS }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/build/Calculator Setup*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
